<a href="https://colab.research.google.com/github/Romane-lrnt/GitConcepts/blob/main/Cours8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating a dictionnary
country_capitals={
    "United States": "Washington DC",
    "Italy": "Rome",
    "England": "London"
}
#printing the dictionnary
print(country_capitals)

{'United States': 'Washington DC', 'Italy': 'Rome', 'England': 'London'}

In [ ]:
my_dict={1:"Hello", (1,2):"Hello Hi", 3:[1, 2, 3]}
print(my_dict)

{1: 'Hello', (1, 2): 'Hello Hi', 3: [1, 2, 3]}

In [ ]:
print(len(country_capitals))

3

In [ ]:
#nested dictionary
Dict={1: 'Geeks', 2: 'For',
      3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}
print(Dict)

{1: 'Geeks', 2: 'For', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Geeks'}}

In [ ]:
print(country_capitals["United States"])
print(country_capitals["England"])

Washington DC
London

In [ ]:
print(Dict[3]['A'])

Welcome

In [ ]:
country_capitals={
    "United States": "Washington DC",
    "Italy": "Naples",
    "England": "London"
}
print(country_capitals)
country_capitals["Italy"]="Rome" #change the value of "Italy" key to "Rome"
print(country_capitals)

{'United States': 'Washington DC', 'Italy': 'Naples', 'England': 'London'}
{'United States': 'Washington DC', 'Italy': 'Rome', 'England': 'London'}

In [ ]:
country_capitals["Germany"]="Berlin" #add a key and its value
print(country_capitals)

{'United States': 'Washington DC', 'Italy': 'Rome', 'England': 'London', 'Germany': 'Berlin'}

In [ ]:
del country_capitals["United States"] #delete item having "United States" key
print(country_capitals)

{'Italy': 'Rome', 'England': 'London', 'Germany': 'Berlin'}

In [ ]:
my_list={1: "Hello", "Hi": 25, "Howdy": 100}
print(1 in my_list) #True

#the not in opertaor checks whether key doesn't exist
print("Howdy" not in my_list) #False
print("Hello" in my_list) #False

True
False
False

In [ ]:
for country in country_capitals:
  capital=country_capitals[country]
  print(capital)

Rome
London
Berlin

In [ ]:
for keys,values in country_capitals.items():
  print(keys)
  print(values)

Italy
Rome
England
London
Germany
Berlin

In [ ]:
dict1={1:"Python", 2:"Java", 3:"Ruby", 4:"Scala"}
dict2=dict1.copy()
print(dict2)
dict1.clear()
print(dict1)
print(dict2.get(1))
print(dict2.keys())
dict2.pop(4)
print(dict2)
dict2.popitem()
print(dict2)
dict2.update({3: "Scala"})
print(dict2)

{1: 'Python', 2: 'Java', 3: 'Ruby', 4: 'Scala'}
{}
Python
dict_keys([1, 2, 3, 4])
{1: 'Python', 2: 'Java', 3: 'Ruby'}
{1: 'Python', 2: 'Java'}
{1: 'Python', 2: 'Java', 3: 'Scala'}

In [ ]:
cities=('Paris', 'Athens', 'Madrid') #create a sequence of strings
continent='Europe' #create a single value
my_dictionary=dict.fromkeys(cities, continent)
print(my_dictionary)

{'Paris': 'Europe', 'Athens': 'Europe', 'Madrid': 'Europe'}

In [ ]:
country=['France', 'Greece', 'Spain']
mdict=dict.fromkeys(cities,country)
print(mdict)

{'Paris': ['France', 'Greece', 'Spain'], 'Athens': ['France', 'Greece', 'Spain'], 'Madrid': ['France', 'Greece', 'Spain']}

In [ ]:
keys=['Ten', 'Twenty', 'Thirty']
values=[10, 20, 30]
d=dict(zip(keys, values))
print(d)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [ ]:
dict1={'Ten': 10, 'Twenty':20, 'Thirty': 30}
dict2={'Thirty': 30, 'Forty': 40, 'Fifty': 50}
dict3=dict1.copy()
dict3.update(dict2)
print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Forty': 40, 'Fifty': 50}

In [ ]:
sampleDict={
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(sampleDict["class"]["student"]["marks"]["history"])

80

In [ ]:
employees=['Kelly', 'Emma']
defaults={"designation": 'Developer', "salary": 8000}
dict1=dict.fromkeys(employees, defaults)
print(dict1)
print(dict1["Kelly"])

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'designation': 'Developer', 'salary': 8000}

In [ ]:
sample_dict={
    "name": "Kelly",
    "age":25,
    "salary": 8000,
    "city": "New York"
}
sample_dict.pop("name")
sample_dict.pop("salary")
print(sample_dict)

{'age': 25, 'city': 'New York'}

In [ ]:
sam={'a':100, 'b':200, 'c':300}
if 200 in sam.values():
  print("200 present in the dict")

200 present in the dict

In [ ]:
sample_dict={
    'emp1': {'name': 'John', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500},
}
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'John', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}