In [1]:
# 1. Import the necessary libraries
import pandas as pd

In [46]:
# 2. Import the dataset from the given address

baby_names = pd.read_csv("US_Baby_Names_right.csv")

# 4. See the first 10 entries
print(baby_names.head(10))

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

In [47]:
# 5. Delete the column 'Unnamed: 0' and 'Id'
baby_names = baby_names.drop(['Unnamed: 0', 'Id'], axis=1)

In [48]:
# 6. Check if there are more male or female names
gender_counts = baby_names['Gender'].value_counts()
print("More male names" if gender_counts['M'] > gender_counts['F'] else "More female names")

More female names

In [50]:
# 7. Group the dataset by name and assign to names
#baby_names = baby_names.drop('Year', axis = 1)
names = baby_names.groupby('Name').sum()
print(names.head())
# sort it from the biggest value to the smallest one
names.sort_values("Count", ascending = 0).head()

           Year  Count
Name
Aaban      4027     12
Aadan      8039     23
Aadarsh    2009      5
Aaden    393963   3426
Aadhav     2014      6

             Year   Count
Name
Jacob     1141099  242874
Emma      1137085  214852
Michael   1161152  214405
Ethan     1139091  209277
Isabella  1137090  204798

In [44]:
# 8. How many different names exist in the dataset?
num_unique_names = baby_names['Name'].nunique()
print(f"There are {num_unique_names} different names in the dataset.")

There are 17632 different names in the dataset.

In [54]:
# 9. What is the name with the most occurrences?
names[names.Count == names.Count.max()]

          Year   Count
Name
Jacob  1141099  242874

In [53]:
# 10. How many different names have the least occurrences?
least_occurred_names = names[names.Count == names.Count.min()]
num_least_occurred_names = len(names[names.Count == names.Count.min()])
print(f"There are {num_least_occurred_names} different names with the least occurrences, e.g., {least_occurred_names}.")

There are 2578 different names with the least occurrences, e.g.,           Year  Count
Name
Aadarsh   2009      5
Aadin     2008      5
Aaima     2013      5
Aalaya    2014      5
Aaminah   2004      5
...        ...    ...
Zyien     2009      5
Zyire     2007      5
Zykeriah  2008      5
Zykierra  2007      5
Zymari    2009      5

[2578 rows x 2 columns].

In [55]:
# 11. What is the median name occurrence?
median_occurrence = names.Count.median()
print(f"The median name occurrence is: {median_occurrence}")

The median name occurrence is: 49.0

In [51]:
# 12. What is the standard deviation of names?
std_dev_occurrence = names.Count.std()
print(f"The standard deviation of name occurrences is: {std_dev_occurrence}")

The standard deviation of name occurrences is: 11006.069467891111

In [52]:
# 13. Get a summary with the mean, min, max, std, and quartiles.
summary = names.Count.describe()
print("\nSummary Statistics:")
print(summary)

Summary Statistics:
count     17632.000000
mean       2008.932169
std       11006.069468
min           5.000000
25%          11.000000
50%          49.000000
75%         337.000000
max      242874.000000
Name: Count, dtype: float64

In [58]:
#Exercice 2 
# Import the dataset from the given address
euro12 = pd.read_csv("Euro_2012_stats_TEAM.csv")

In [68]:
# select the goal column

goals = euro12['Goals']
print(goals)

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [69]:
# How many teams participated in 2012

Teams = euro12['Team'].nunique
print(Teams)
len(euro12.Team.unique())

<bound method IndexOpsMixin.nunique of 0                 Croatia
1          Czech Republic
2                 Denmark
3                 England
4                  France
5                 Germany
6                  Greece
7                   Italy
8             Netherlands
9                  Poland
10               Portugal
11    Republic of Ireland
12                 Russia
13                  Spain
14                 Sweden
15                Ukraine
Name: Team, dtype: object>

16

In [70]:
# What is the number of columns in the dataset
euro12.shape

(16, 35)

In [72]:
# View only the columns, Team, Yellow Cards and Red Cards
discipline = euro12[['Team','Yellow Cards', 'Red Cards']]

In [73]:
print(discipline)

                   Team  Yellow Cards  Red Cards
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
6                Greece             9          1
7                 Italy            16          0
8           Netherlands             5          0
9                Poland             7          1
10             Portugal            12          0
11  Republic of Ireland             6          1
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [74]:
discipline['Yellow Cards'].mean()

7.4375

In [78]:
# Sort the team by Red Cards, then to Yellow cards
discipline_sorted = discipline.sort_values(by=['Red Cards', 'Yellow Cards'], ascending=False)
print(discipline_sorted)

                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
1        Czech Republic             7          0
14               Sweden             7          0
4                France             6          0
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0

In [83]:
discipline_sorted = discipline.sort_values(by=['Yellow Cards'], ascending=False)
discipline_sorted1 = discipline.sort_values(by=['Red Cards'], ascending=False)
print(discipline_sorted)
print(discipline_sorted1)

                   Team  Yellow Cards  Red Cards
7                 Italy            16          0
10             Portugal            12          0
13                Spain            11          0
0               Croatia             9          0
6                Greece             9          1
1        Czech Republic             7          0
9                Poland             7          1
14               Sweden             7          0
4                France             6          0
11  Republic of Ireland             6          1
12               Russia             6          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
2               Denmark             4          0
5               Germany             4          0
                   Team  Yellow Cards  Red Cards
6                Greece             9          1
9                Poland             7          1
11  Republic of Ireland             6          1
0               Croatia             9          0
1        Czech Republic             7          0
2               Denmark             4          0
3               England             5          0
4                France             6          0
5               Germany             4          0
7                 Italy            16          0
8           Netherlands             5          0
10             Portugal            12          0
12               Russia             6          0
13                Spain            11          0
14               Sweden             7          0
15              Ukraine             5          0

In [84]:
discipline["Yellow Cards"].mean()

7.4375

In [87]:
euro12['Goals']

0      4
1      4
2      4
3      5
4      3
5     10
6      5
7      6
8      2
9      2
10     6
11     1
12     5
13    12
14     5
15     2
Name: Goals, dtype: int64

In [91]:
def calc_goals(x):
    if x >=6:
        return x

In [94]:
x = euro12['Goals'].apply(calc_goals)
print(x)

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5     10.0
6      NaN
7      6.0
8      NaN
9      NaN
10     6.0
11     NaN
12     NaN
13    12.0
14     NaN
15     NaN
Name: Goals, dtype: float64

In [96]:
goals>=6

0     False
1     False
2     False
3     False
4     False
5      True
6     False
7      True
8     False
9     False
10     True
11    False
12    False
13     True
14    False
15    False
Name: Goals, dtype: bool

In [98]:
#Select the team that start with G
teams_starting_with_G = euro12[euro12['Team'].str.startswith('G')]
print(teams_starting_with_G)

      Team  Goals  Shots on target  Shots off target Shooting Accuracy  \
5  Germany     10               32                32             47.8%
6   Greece      5                8                18             30.7%

  % Goals-to-shots  Total shots (inc. Blocked)  Hit Woodwork  Penalty goals  \
5            15.6%                          80             2              1
6            19.2%                          32             1              1

   Penalties not scored  ...  Saves made  Saves-to-shots ratio  Fouls Won  \
5                     0  ...          10                 62.6%         63
6                     1  ...          13                 65.1%         67

  Fouls Conceded  Offsides  Yellow Cards  Red Cards  Subs on  Subs off  \
5             49        12             4          0       15        15
6             48        12             9          1       12        12

   Players Used
5            17
6            20

[2 rows x 35 columns]

In [102]:
# Step 12. Select the first 7 columns
first_seven_columns = euro12.iloc[:, :7]
print(first_seven_columns)

                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

In [104]:
# Step 13. Select all columns except the last 3
all_columns_except_last_three = euro12.iloc[:, :-3]
print(all_columns_except_last_three)

                   Team  Goals  Shots on target  Shots off target  \
0               Croatia      4               13                12
1        Czech Republic      4               13                18
2               Denmark      4               10                10
3               England      5               11                18
4                France      3               22                24
5               Germany     10               32                32
6                Greece      5                8                18
7                 Italy      6               34                45
8           Netherlands      2               12                36
9                Poland      2               15                23
10             Portugal      6               22                42
11  Republic of Ireland      1                7                12
12               Russia      5                9                31
13                Spain     12               42                33
14               Sweden      5               17                19
15              Ukraine      2                7                26

   Shooting Accuracy % Goals-to-shots  Total shots (inc. Blocked)  \
0              51.9%            16.0%                          32
1              41.9%            12.9%                          39
2              50.0%            20.0%                          27
3              50.0%            17.2%                          40
4              37.9%             6.5%                          65
5              47.8%            15.6%                          80
6              30.7%            19.2%                          32
7              43.0%             7.5%                         110
8              25.0%             4.1%                          60
9              39.4%             5.2%                          48
10             34.3%             9.3%                          82
11             36.8%             5.2%                          28
12             22.5%            12.5%                          59
13             55.9%            16.0%                         100
14             47.2%            13.8%                          39
15             21.2%             6.0%                          38

    Hit Woodwork  Penalty goals  Penalties not scored  ...  Clean Sheets  \
0              0              0                     0  ...             0
1              0              0                     0  ...             1
2              1              0                     0  ...             1
3              0              0                     0  ...             2
4              1              0                     0  ...             1
5              2              1                     0  ...             1
6              1              1                     1  ...             1
7              2              0                     0  ...             2
8              2              0                     0  ...             0
9              0              0                     0  ...             0
10             6              0                     0  ...             2
11             0              0                     0  ...             0
12             2              0                     0  ...             0
13             0              1                     0  ...             5
14             3              0                     0  ...             1
15             0              0                     0  ...             0

    Blocks  Goals conceded Saves made  Saves-to-shots ratio  Fouls Won  \
0       10               3         13                 81.3%         41
1       10               6          9                 60.1%         53
2       10               5         10                 66.7%         25
3       29               3         22                 88.1%         43
4        7               5          6                 54.6%         36
5       11               6         10                 62.6%         63
6       23               7         13                 65.1%         67
7       18               7         20                 74.1%        101
8        9               5         12                 70.6%         35
9        8               3          6                 66.7%         48
10      11               4         10                 71.5%         73
11      23               9         17                 65.4%         43
12       8               3         10                 77.0%         34
13       8               1         15                 93.8%        102
14      12               5          8                 61.6%         35
15       4               4         13                 76.5%         48

    Fouls Conceded  Offsides  Yellow Cards  Red Cards
0               62         2             9          0
1               73         8             7          0
2               38         8             4          0
3               45         6             5          0
4               51         5             6          0
5               49        12             4          0
6               48        12             9          1
7               89        16            16          0
8               30         3             5          0
9               56         3             7          1
10              90        10            12          0
11              51        11             6          1
12              43         4             6          0
13              83        19            11          0
14              51         7             7          0
15              31         4             5          0

[16 rows x 32 columns]

In [ ]:
# Step 14. Present only the Shooting Accuracy from England, Italy, and Russia
shooting_accuracy_selected_teams = euro12.loc[euro12['Team'].isin(['England', 'Italy', 'Russia']), ['Team', 'Shooting Accuracy']]